{% load static %}
<section class="bsec-4">
    <div class="contact">
        <div class="condiv con1">
            <h1><a href="#bsec-1">Nivedita <span>Infotech</span></a></h1>
            <p>We deliver high-quality software experiences on time and on budget. Our team is located in Trichy, Tamilnadu, India.</p>
            <ul>
                <li><a href="" target="_blank"><img src="{% static 'images/linkedin.png' %}" alt=""></a></li>
                <li><a href="https://wa.me/918754002475" target="_blank"><img src="{% static 'images/whatsapp.png' %}" alt=""></a></li>
                <li><a href="https://www.instagram.com/nivedita_academy_?utm_source=qr&igsh=MWYxbmhnMTFuZXJmZQ==" target="_blank"><img src="{% static 'images/instagram.png' %}" alt=""></a></li>
                <li><a href=""><img src="{% static 'images/facebook.png' %}" alt=""></a></li>
                <li><a href=""><img src="{% static 'images/youtube.png' %}" alt=""></a></li>
            </ul>
        </div>
        <div class="condiv conum">
            <h2><a href="{% url 'contacts' %}"><u>Contact Us</u></a></h2>
            <p><a href="https://maps.app.goo.gl/Xg1zipYrrgAomn188" target="_blank">Nivedita infotech, 3rd Floor, Rohan's Arcade,</a></p>
            <p><a href="https://maps.app.goo.gl/Xg1zipYrrgAomn188" target="_blank">10th cross, Thilai Nagar, Trichy-06</a></p>
            <p><a href="tel://8754002475"><i class="fa fa-phone"></i> +91 8754002475</a></p>
            <p><a href="mailto://niveditainfo381@gmail.com"><i class="fa fa-envelope"></i> niveditainfo381@gmail.com</a></p>
        </div>
        <div class="condiv conser">
            <h2><u>Services</u></h2>
            <div class="serlist">
                <ul>
                    <li><a href="./carint.html">career</a></li>
                    <li><a href="./carint.html">Internship</a></li>
                    <li><a href="">Web Designing</a></li>
                    <li><a href="">Mobile App Development</a></li>
                    
                </ul>
                <ul>
                    <li><a href="">Software Development</a></li>
                    <li><a href="">Web Development</a></li>
                    <li><a href="">Digital Marketting</a></li>
                    <li><a href="">Graphic Designing</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<footer>
    <p>&#169 2023-2025 All Rights Reserved</p>
</footer>