{% extends 'base.html' %}
{% block content %}
<section class="table">   
    <h3>CALL REQUEST</h3> 
    <table class="tables">
        <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Description</th>
        </thead>
        <tbody>
            {% for form in form1 %}
                <tr>
                    <td>{{form.name}}</td>
                    <td>{{form.email}}</td>
                    <td>{{form.phone}}</td>
                    <td>{{form.description}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <h3>CONTACT FORM</h3>
    <table class="tables">
        <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Message</th>
        </thead>
        <tbody>
            {% for form in form2 %}
                <tr>
                    <td>{{form.name}}</td>
                    <td>{{form.email}}</td>
                    <td>{{form.phone}}</td>
                    <td>{{form.message}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>INTERNSHIP</h3>
    <table class="tables">
        <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Course</th>
            <th>Duration</th>
        </thead>
        <tbody>
            {% for form in form3 %}
                <tr>
                    <td>{{form.name}}</td>
                    <td>{{form.email}}</td>
                    <td>{{form.phone}}</td>
                    <td>{{form.course}}</td>
                    <td>{{form.duration}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>FOR JOB</h3>
    <table class="tables">
        <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Role</th>
            <th>Resume</th>
        </thead>
        <tbody>
            {% for form in form4 %}
                <tr>
                    <td>{{form.name}}</td>
                    <td>{{form.email}}</td>
                    <td>{{form.phone}}</td>
                    <td>{{form.role}}</td>
                    <td><a href="/{{form.resume.name}}"><button>View</button></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}