{% extends 'base.html' %}
{% block title %} | Home {% endblock %}
{% load static %}
{% block content %}
<section class="bsec-1" id="bsec-1">
    <div class="mnav">{% include 'mobnav.html' %}</div>
    <div class="nav">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'service' %}" class="inbtn">Services</a>
                <!-- <div class="in-nav active">
                    <ul>
                        <li><a href="">Web Designing</a></li>
                        <li><a href="">Web Development</a></li>
                        <li><a href="">Software Development</a></li>
                        <li><a href="">Mobile App Development</a></li>
                        <li><a href="">Digital Marketting</a></li>
                        <li><a href="">Graphic Designing </a></li>
                    </ul>
                </div> -->
                </li>
                <li><a href="{% url 'careerintern' %}">Career</a></li>
                <li><a href="">About us</a></li>                
                <li><a href="{% url 'contacts' %}">Contact us</a></li>
            </ul>
        </nav>
        <div class="logo">
            <img src="{% static 'images/Color logo - no background.png' %}" alt="" width="200px">
        </div>
    </div>
    
    <div class="banner">
        <div class="ban1">
            <h1><span class="banspan">N</span>ivedita</h1>
            <h4>Infotech</h4>
        </div>
        <hr style="height: 100px;">
        <div class="ban2">
            <p class="ban2pp">Nivedita Infotech helps businesses <br> create impactful web and mobile applications. <br> We work with business firms of all shapes and sizes .</p>
            <p class="ban2p">Nivedita Infotech helps businesses create impactful web and mobile applications. We work with business firms of all shapes and sizes .</p>
        </div>
    </div>
    <div class="post">
        <p>We create world class software experiences. <br> We design and build custom web and mobile applications with a focus on remarkable user experience.</p>
    </div>
</section>
<section class="bsec-2">
    <div class="rit1">
        <div class="box1-col bc1">
            <h2>Secure & <br>Reliable</h2>
            <p>Connect to the world with secure websites </p>
        </div>
        <div class="box1-col">
            <div class="col-box">
                <h2>Free <br>Hosting</h2>
                <p>Free domain for 2 years and 5 years free hosting</p>
            </div>
            <div class="col-box">
                <h2>100% <br>Guaranteed</h2>
                <p>We take care of all your needs </p>
            </div>
        </div>
    </div>
    <div class="lft1">
        <div class="sets">
            <h3>REQUEST A FREE <br>CALL BACK</h3>
            <p>Let's Build Your Website!</p>
            <div>
                <form action="" method="post" class="forms" autocomplete="off">
                    {% csrf_token %}
                    <input type="text" name="name" placeholder="Name *" required>
                    <input  type="email" name="email" placeholder="Email *" required>
                    <input type="text" name="phone" placeholder="Phone no. *" required>
                    <textarea class="tarea" cols="30" rows="10" name="desc" placeholder="Description (optional)"></textarea>
                    <button type="submit">Submit Messages</button>
                </form>
                {% if messages %}
                    {% for message in messages %}
                    <p style="color: rgb(38, 216, 133);">{{message}}</p>
                    {% endfor %}
                {% endif %}                
            </div>
        </div>
    </div>
</section>
<section class="bsec-3" id="services">
    <div class="sec3tit">
        <h2>Our Services</h2>
    </div>
    <div class="bsecb">            
        <div class="serbox">
            <img src="{% static 'images/web-design.png' %}" alt="">
            <h2>Web Designing</h2>
            <p>We build responsive designs <br>with animated works</p>
        </div>
        <div class="serbox">
            <img src="{% static 'images/web-development.png' %}" alt="">
            <h2>Web Development</h2>
            <p>We develop premium websites <br>and web applications</p>
        </div>
        <div class="serbox">
            <img src="{% static 'images/ux.png' %}" alt="">
            <h2>Software Development</h2>
            <p>Unlock your potential with intelligent software</p>
        </div>
        <div class="serbox">
            <img src="{% static 'images/development.png' %}" alt="">
            <h2>Mobile App Development</h2>
            <p>We utilize mobile experiences driven by strategy, design and technology.</p>
        </div>
        <div class="serbox">
            <img src="{% static 'images/maketing.png' %}" alt="">
            <h2>Digital Marketting</h2>
            <p>Outsmart the competition with best-in-class digital marketing services</p>
        </div>
        <div class="serbox">
            <img src="{% static 'images/illustration.png' %}" alt="">
            <h2>Graphic Designing</h2>
            <p>Empowering your brand with stunning visuals</p>
        </div>
    </div>
</section>
{% include 'footer.html' %}
{% endblock %}