{% extends 'base.html' %}
{% block title %} | Services {% endblock %}
{% load static %}
{% include 'nav.html' %}
{% block content %}
{% include 'nav.html' %}
<section class="sersec">    
    <div class="serland">
        <div class="sernav">{% include 'mobnav.html' %}</div>
        <div>
            <h1>Services</h1>
        <p>We take your business to next level</p>
        </div>
    </div>
    <div class="sec1">
        <h2>Web designing & development</h2>
        <p>It  provides  useful information succinctly  and contains no fluff.  We make use of picture text links to present company information. We love retro design for its warm colours and fun illustrations, not to mention its Compatibility with traditional layout techniques. This page is filled with simple but extremely cheerful and interesting illustrations. These imaginative Drawings are not only stylish but also add a personal touch. The retro colour Scheme and richly-structured page gives users a surprise here and there while going through useful information.</p>
        <p>The information is displayed in the form of an animation with bold colours and a Distinctive  personality, which makes for an impressive page. Text typesetting is based on black and red. Since red exudes a warm vibe and signifies Important content, this colour scheme works perfectly.</p>
        <p>We are here to unleash the world's creative energy by designing a more enlightened way of working.</p>
    </div>
    <div class="sec1">
        <h2>Software Development</h2>
        <p>We develop innovative and creative products and services that provide total Communication and information solutions. Among a plethora of services, web Design and development, tailor made <b> applications, ERPs, CRMs, e-commerce Solutions, business-to-business applications, business-to-client applications, Managed hosting and internet portal management </b> are few that we offer.</p>
        <p>Satisfied clients around the globe bear testimony to the quality of our work.</p>
        <p>Some of our services include Strategic Technology Consulting, System Integration Software Development, Enterprise Resource Planning (ERP), Client server application, E-commerce software development, Content management development, E-governance Software, Web application development, E-Commerce development, Database application development, etc;</p>
        <p>In a short span of time Perfect Software Solution has developed business relationship  with a reputed clientele all over the India. Today, we provide services, support and solutions to clients in various Industry verticals. A few from the industry verticals that we work closely are cutting edge technology companies, renown hospitality institutions, Educational institutions, well-known gold merchants, garment houses, financial sectors. As a leader in technology exploring, Nivedita  Infotech  is committed to exporting quality software worldwide.</p>
    </div>
    <div class="sec1">
        <h2>Mobile App Development</h2>
        <p>We have a very good team to create Mobile Application.We have a team of  experts. Their insightful and invaluable knowledge around growth strategy is hard to find. Wewent above and beyond to accommodate any changes that you request for. Extremely hard to find companies like Nivedita Infotech that have expertise across a range of different platforms</p>
        <p>We are  a dynamic team that knows what they're doing. Our experience in the field and the speed at which they work impressed us. We were happy with the quality of the product and customer. We  were always reachable at any time and at any stage of the whole project that allowed us to scale with the needs of our customers Our team's  willingness to listen, execute, and provide feedback that is  impressive.</p>
        <p>One quality that stood out right off the bat was the calibre of their talent.</p>
    </div>
</section>
{% include 'footer.html' %}
{% endblock%}